mixin links( name )
  if name === "index"
    link( rel="icon" href="dist/img/favicon.png" )
    link( rel="stylesheet" type="text/css" href="dist/css/index.css" )
  else
    link( rel="icon" href="../dist/img/favicon.png" )
    link( rel="stylesheet" type="text/css" href="../dist/css/github-markdown.min.css" )
    link( rel="stylesheet" type="text/css" href=`../dist/css/${name}.css` )
    script( async src=`../dist/js/${name}.js` )

mixin badge( href, left, right, color = "brightgreen", alt = "" )
  - left = encodeURIComponent( left )
  - right = encodeURIComponent( right )
  - src = `https://img.shields.io/badge/${left}-${right}-${color}.svg?style=flat-square`
  a( href=href )
    img( src=src alt=alt style="padding-right: 5px;" )

mixin project( repo, img, npm, site )
  - const name = repo;
  - repo = `https://github.com/jneidel/${repo}`;
  - npm = npm === true ? `https://registery.npm/${name}` : null;
  - site = site !== undefined && site !== "" ? site : null;

  .project
    h3=name
    img( src=img )
    desc
    .links
      a( href=repo )
        img( src="dist/img/github-logo.png" alt="Github Repository" )
      if site
        a( href=site )
          img( src="dist/img/internet.png" alt="Live Website" )
      if npm
        a( href=npm )
          img( src="dist/img/npm-logo.png" alt="NPM Website" )

