extends base

block head
  title jneidel.com
  +links( "now" )
  style.
    .flex {
      display: flex;
    }
    .flex a {
      margin: 0 5px;
    }
    td p:nth-of-type(1) {
      margin-bottom: 0;
    }
    th {
      cursor: pointer;
      background-color: #ffd700;
    }

block body
  h1 movies
  - movies.map( x => { x.genres = x.genres ? x.genres : x.genre; if ( x.nf && x.genres[x.genres.length -1] !== "" ) x.genres.push( "" ); return x; } );
  - const maybe = movies.filter( x => x.maybe );
  - movies = movies.filter( x => !x.maybe );
  p Movies that I like, in no particular order. Recently watched movies have been more acurately judged.

  p Click the yellow bar to sort the table (takes a sec, I was too lazy to implement it myself).

  a( href="#limited" ) Limited recommendations

  h2 Full recommendation
  table.w3-table-all#table_full
    tr
      th
        b name
      th
        b known for
      th
        b genre/tag/description
      th
        b last watch
    for i in movies
      tr.item
        td
          a( href=`https://www.imdb.com/title/${i.imdb}` )= i.name
        td
          -i.known = typeof i.known === "string" ? [ i.known ] : i.known;
          p= i.known ? i.known.join( ", " ) : ""
        td
          p= i.genres.join( ", " )
        td
          - let last = i.last || ""
          - if ( last ) {
          -   const date = last.split( "." )
          -   last = `20${date[2]}-${date[1]}-${date[0]}`
          - }
          p= last

  h2#limited Limited recommendation (not for everyone or basic but enjoyable)
  table.w3-table-all#table_maybe
    tr
      th
        b name
      th
        b known for
      th
        b genre/tag/description
      th
        b last watch
    for i in maybe
      tr.item
        td
          a( href=`https://www.imdb.com/title/${i.imdb}` )= i.name
        td
          -i.known = typeof i.known === "string" ? [ i.known ] : i.known;
          p= i.known ? i.known.join( ", " ) : ""
        td
          p= i.genres.join( ", " )
        td
          - let last = i.last || ""
          - if ( last ) {
          -   const date = last.split( "." )
          -   last = `20${date[2]}-${date[1]}-${date[0]}`
          - }
          p= last
  script( src="https://www.w3schools.com/lib/w3.js" )
  script.
    [ "#table_full", "#table_maybe" ]
      .forEach( table =>
        document.querySelectorAll( table + " th" )
          .forEach( ( element, i ) => element.addEventListener( "click", () => w3.sortHTML( table, ".item", "td:nth-child(" + (i + 1) + ")") ) )
      );

