extends base

block head
  title jneidel.com
  +links( "now" )
  style.
    .flex {
      display: flex;
    }
    .flex a {
      margin: 0 5px;
    }

block body
  h1 What I’m doing now
  i.flex
    p( style="margin: 0;" ) (This is a
    a( href="https://nownownow.com/about" ) now
    p( style="margin: 0;" ) page.)

  h2 Uni
  p I'm studying applied computer science at <a href="https://www.htw-berlin.de/">HTW Berlin</a> in the 2nd semester.
  p My current modules are:
  ul
    li Datenbanken: Database modelling and SQL implementation
    li Algorithmen und Datenstrukturen: Data structures and sorting/searching/hashing algos
    li Betriebssysteme: Linux, processes, I/O, FS, etc.
    li Programmierung 2: OOP, data structures, unit tests, documentation
    li BWL: Unternehmensformen, ...
    li Mathe 2: ...
    li English 2: Not attending (just for credit)

  // and moved to a flat near the university (Oberschöneweide).

  h2#media Media
  h3 Books
  p Books I'm currently reading:
  ul
    li Morning routine: <a href="https://www.goodreads.com/book/show/12633800-models">Models</a> - A model for the modern man to live by
    li Non-fiction: <a href="https://www.goodreads.com/book/show/14546626-total-recall?from_search=true&from_srp=true&qid=Kfipjk2mhh&rank=1">Total Recall</a> - Inspiring Arnold Schwarzenegger biography

  h3 News
  p My news sources:
  ul
    li <a href="https://de.wikipedia.org/wiki/Die_Zeit">DIE ZEIT</a> - Weekly newspaper
    li <a href="https://blog.fefe.de" >Fefes Blog</a> - Commented news stories, tech news
    li <a href="https://verfassungsblog.de">Verfassungsblog</a> - Legal perspective on news stories

  h3 Manga and comics
  p List of running manga and comics that I'm following.

  // Comic and manga data is passed in by webpack
  - const mangaTotal = manga.filter( x => !x.paused ).length
  h3#manga Manga (total: #{mangaTotal})
  .flex
    // p To download use:
    // a( href="https://github.com/jneidel/mangareader-dl" ) mangareader-dl
  table
    tr
      td name
      td latest chapter
      // td download command
    for i in manga
      tr
        td
          a( href=i.info )= i.readableName
        - const chapter = `${i.chapter}${i.paused ? " P" : ""}`
        td= chapter
        // td
          code= i.get

  - const comicsTotal = comics.filter( x => !x.paused ).length
  - comics = comics.filter( x => !x.paused )
  h3#comics Comics (total #{comicsTotal})
  .flex
  table
    tr
      td name
      td latest issue
    for i in comics
      tr
        td
          a( href=i.info )= i.name
        - const issue = `${i.issue}${i.paused ? " P" : ""}`
        td= issue

  hr
  .last-edit
    b( style="margin-bottom: 0;" ) Last Edit:
    p#lastEdit=lastEdit
    // Replaced with 'new Date()' on each webpack run
