extends base

block head
  title Jonathan Neidel Resume
  +links( "resume" )
  style.
    .education p, .contact p {
      margin-bottom: 0;
    }

block body
  h1( style="display: flex; justify-content: space-between;" )
    span Jonathan Neidel
    span Node.js Developer
  .space-between( style="display: flex; justify-content: space-between;" )
    .shields
      - const birthday = new Date( "1997-07-08" );
      - const now = new Date();
      - const age = Math.floor( ( now - birthday ) / ( 1000*60*60*24*365 ) )
      +badge( "", shields.location, "Berlin" )
      +badge( "", shields.age, age )
      +badge( "mailto:contact@jneidel.com", "Email", "contact@jneidel.com", "orange" )
      +badge( "https://jneidel.com", "Homepage", "jneidel.com", "orange" )
      +badge( "https://github.com/jneidel", "Github", "jneidel", "orange" )
      +badge( "https://www.linkedin.com/in/jneidel", "LinkedIn", "jneidel", "orange" )
    a( href=langLink.a )= langLink.p

  h2= profile.h
  p= profile.p

  h2 Skills
  .skills( style="display: flex; justify-content: space-around;" )
    span
      h3= skills.tech.h
      ul
        for c in skills.tech.li
          li= c
    span
      h3= skills.general.h
      ul
        for i in skills.general.li
          li= i

  h2= projects.h
  .projects
    span( style="display: flex;" )
      p( style="padding-right: 5px" )= projects.intro
      a( href="https://github.com/jneidel" ) GitHub
      p .
    a( href="https://github.com/jneidel/lock-me-out" )
      h3 lock-me-out
    p= projects.lmo.p
    h4= projects.implementation
    ul
      for i in projects.lmo.li
        li= i
    hr
    a( href="https://github.com/jneidel/mangareader-dl" )
      h3 mangareader-dl
    p= projects.mr.p
    h4= projects.implementation
    ul
      for i in projects.mr.li
        li= i
    hr
    a( href="https://github.com/jneidel/projects-overview" )
      h3 projects-overview
    p= projects.po.p
    h4= projects.implementation
    ul
      for i in projects.po.li
        li= i

  h2= education.h
  .education
    span( style="display: flex; justify-content: space-between;" )
      p
        b Emil Molt Akademie
      p
        b Berlin
    span( style="display: flex; justify-content: space-between;" )
      p
        i= education.moltCourse
      p
        i 2016 - 2018
    p= education.result
    span( style="display: flex; justify-content: space-between; margin-top: 15px;" )
      p
        b= education.schools
      p
        b= education.schoolsLocation
    p= education.schoolsDesc
    p( style="margin-top: 15px;" )
      b= education.lang
    span( style="display: flex;" )
      i( style="padding-right: 5px" )= education.de
      p= education.deVal
    span( style="display: flex;" )
      i( style="padding-right: 5px" )= education.en
      p= education.enVal

  h2= interests.h
  p= interests.p

  h2= contact.h
  .contact
    p Email: <a href="mailto:contact@jneidel.com">contact@jneidel.com</a>
    p Homepage: <a href="https://jneidel.com">https://jneidel.com</a>
    p GitHub: <a href="https://github.com/jneidel">https://github.com/jneidel</a>
    p LinkedIn: <a href="https://www.linkedin.com/in/jneidel">https://www.linkedin.com/in/jneidel</a>

